/********************/
/@font-face {
 font-family: 'OpenSansBold';
 src: url('../fonts/opensans-bold.eot');
 src: url('../fonts/opensans-bold.eot') format('embedded-opentype'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype'), url('../fonts/opensans-bold.svg#OpenSansBold') format('svg');
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/opensans-regular.eot');
	src: url('../fonts/opensans-regular.eot') format('embedded-opentype'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype'), url('../fonts/opensans-regular.svg#OpenSansRegular') format('svg');
}
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/opensans-semibold.eot');
	src: url('../fonts/opensans-semibold.eot') format('embedded-opentype'), url('../fonts/opensans-semibold.woff') format('woff'), url('../fonts/opensans-semibold.ttf') format('truetype'), url('../fonts/opensans-semibold.svg#OpenSansSemibold') format('svg');
}
@font-face {
	font-family: 'OpenSansExtrabold';
	src: url('../fonts/opensans-extrabold.eot');
	src: url('../fonts/opensans-extrabold.eot') format('embedded-opentype'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.ttf') format('truetype'), url('../fonts/opensans-extrabold.svg#OpenSansExtrabold') format('svg');
}
.noPad {
	padding: 0px !important;
}
.noBdr {
	border:0 !important;
}
header {
	width: 100%;
	float: left;
	background: url(../images/headerBg.png) bottom center repeat-x;
}
.logo {
	float: left;
	padding: 22px 0;
}
.navigation {
	background: #ffffff;
	float: left;
	width: 100%;
	border-bottom: 1px solid #ebebeb;
}
nav ul li {
	display: inline;
	float: left;
	font-size: 12px;
	padding: 20px 18px 0 18px;
}
nav ul li a {
	color: #a4b1ba;
	padding: 0 0 16px 0;
	float: left;
	border-bottom: 4px solid #fff;
}
nav ul li a:hover, nav ul li a.active {
	color: #424950;
	text-decoration: none;
	border-bottom: 4px solid #26bbf0;
}
.middle {
	width: 100%;
	float: left;
	margin: 0 0 35px 0;
}
.middleBgGray {
	background:#f7f7f7;
}
.middleRange {
	width: 100%;
	float: left;
}
.homeBlueBtn {
	background: #26bbf0;
	color: #fff;
	padding: 0 0 0 70px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-webkit-border-radius: 4px;
	line-height: 36px;
	float: left;
	font-size: 14px;
	font-family: 'OpenSansSemibold';
}
.homeBlueBtn a {
	color: #fff;
	font-size: 12px;
}
a.continue .homeBlueBtn {
	color: #fff;
	font-size: 12px;
}
a.continue .homeBlueBtn:hover {
	background: #24afe8;
}
.homeBlueBtn a:hover {
	text-decoration: none;
}
.homeBlueBtnSpn {
	text-align: center;
	background: #22a8d8;
	width: 35px;
	line-height: 35px;
	height: 36px;
	float: right;
	margin: 0 0 0 60px;
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-ms-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
}
.middTopBtns {
	width: 100%;
	float: left;
	margin: 25px 0 0 0;
}
.textShowing {
	color: #a4b1ba;
	float: left;
	font-size: 10px;
	margin: 20px 0 0;
	text-transform: uppercase;
	width: 100%;
}
.textShowing span {
	text-transform: none;
	color: #424950;
}
.tableMain {
	width: 100%;
	margin: 5px 0 0;
	float: left;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 2px #999;
	-moz-box-shadow: 0 0 2px #999;
	-ms-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
}
.tableMainRow {
	float: left;
	width: 100%;
	border-bottom: 1px solid #eee;
}
.tableMainRow:hover {
	background: #f4fcfe;
}
.tableMainRow h6 {
	text-transform: uppercase;
	font-size: 13px;
	color: #a4b1ba;
	line-height: 34px;
	margin: 0;
}
.tableMainRowBox1, .tableMainRowBox2, .tableMainRowBox3, .tableMainRowBox4, .tableMainRowBox5, .tableMainRowBox6, .tableMainRowBox7, .tableMainRowBox8, .tableMainRowBox9, .tableMainRowBox10 {
	float: left;
	line-height: 34px;
	position: relative;
	font-size: 12px;
	color: #424950;
	padding: 3px 3px 3px 9px;
}
.tableMainRowBox1 {
	width: 5%;
}
.tableMainRowBox2 {
	width: 15%;
}
.tableMainRowBox3 {
	width: 12%;
}
.tableMainRowBox4 {
	width: 10%;
}
.tableMainRowBox5 {
	width: 10%;
}
.tableMainRowBox6 {
	width: 8%;
}
.tableMainRowBox7 {
	width: 10%;
}
.tableMainRowBox8 {
	width: 10%;
}
.tableMainRowBox9 {
	width: 8%;
}
.tableMainRowBox10 {
	width: 12%;
}
.btn2 {
	padding: 3px 9px;
	background: #f5f5f5;
	border-color: #dddddd;
	color: #a4b1ba;
}
.btn2 .caret {
	margin-left: 15px;
}
.custTableInput {
	border: 1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	float: left;
	height: 25px;
	margin: 4% 0;
	padding: 0 7px;
	width: 75px;
}
.custTableCheck {
	margin: 5px 15px !important;
	transform: scale(0.8);
}
.bgBlue {
	background: #fff;
}
.required {
	color: #424950;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 0 0 0 5px;
}
.table-responsive {
	width: 100%;
	margin: 5px 0 0;
	float: left;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 2px #999;
	-moz-box-shadow: 0 0 2px #999;
	-ms-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
}
.top01 {
	width: 100%;
	margin: 5px 0 0;
	float: left;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #dddddd;
	padding: 12px 22px;
}
.top01 h5 {
	float: left;
	color: #a4b1ba;
	margin: 2px 15px 2px 0;
}
.top01 > span {
	float: left;
	margin: 0px 5% 0 4%;
}
.top01 span input[type="checkbox"] {
	float: left;
}
.top01 span span {
	float: left;
	margin: 0 0 0 8px;
}
.top01 span.greenColr {
	color: #59932e;
}
.top01 span.blueColr {
	color: #0095d4;
}
.top01 span.dBlueColr {
	color: #0779a9;
}
.tableMainRowBox4 span {
	left: 50%;
	color: #a4b1ba;
	font-size: 11px;
	position: relative;
}
.tableMainRowBox7 span {
	left: 50%;
	color: #a4b1ba;
	position: relative;
	font-size: 11px;
}
.tableInner {
	background: #f4f7f8;
	float: left;
	width: 100%;
}
.tableInnerLft {
	background: url("../images/backTexture.png") repeat scroll 0 0 #fff;
	border-radius: 5px 0 0;
	float: left;
	width: 35%;
}
.tableInnerLftMain {
	color: #fff;
	float: left;
	width: 100%;
	border-right: 2px solid #e4e4e4;
}
.tableInnerLftMainDrk {
	background: #254671;
}
.tableInnerLft1 {
	float: left;
	background: #fff;
	font-size: 14px;
	height: 40px;
	padding: 0 2% 0 15px;
	line-height: 40px;
	width: 65%;
	color: #424950;
	border-right: 2px solid #e4e4e4;
	border-bottom: 2px solid #f7f7f7;
}
.tableInnerLft2 {
	width: 35%;
	float: left;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	padding: 0 2% 0 15px;
	color: #424950;
	border-bottom: 2px solid #f7f7f7;
}
.tableInnerRt {
	float: left;
	width: 65%;
}
.tableInnerRtMain {
	float: left;
	width: 100%;
	padding: 0 0 20px 0;
	white-space: nowrap;
	overflow-x: visible;
	overflow-y: hidden;
}
.tableInnerRtMain ul {
	float: left;
	padding: 0;
	width: 160px;
	margin: 0 .5px;
}
.tableInnerRtMain ul li {
	border-bottom: 2px solid #f7f7f7;
	display: block;
	float: left;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	padding: 0 2% 0 15px;
	width: 100%;
}
.tableInnerRtMain ul {
	display: block;
}
.tableInnerLft1 h3, .tableInnerLft2 h3, .tableInnerRtMain ul li h3 {
	margin: 0px;
	height: 90px;
	border-bottom: 2px solid #e4e4e4;
	float: left;
	width: 100%;
}
.noPadTopBtm {
	height: auto !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	-ms-border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 0 0 8px;
}
.tableInnerLft2.noPadTopBtm h3 {
	padding: 10px 0 0 14px;
	line-height: 20px;
}
.tableInnerLft2.noPadTopBtm h3 span {
	color: #a4b1ba;
	font-size: 14px;
	text-transform: uppercase;
	width: 100%;
	float: left;
}
.tableInnerRtMain ul li h3 {
	float: left;
	font-size: 14px;
	line-height: 20px;
	height: 86px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.tableInnerRtMain ul li h3 img {
}
.tableInnerRtMain ul li h3 span {
	float: left;
	width: 100%;
}
.topHeadGreen {
	background: #f9fcf7;
	border-top: 4px solid #a9cd6a;
	border-left: 1px solid #a9cd6a;
	border-right: 1px solid #a9cd6a;
}
.colorLt {
	color: #a4b1ba;
}
.colorGreen {
	color: #339900;
	background: url("../images/greenLi.png") no-repeat scroll 6px 18px;
}
.colorRed {
	color: #be3f44;
	background: url("../images/redLi.png") no-repeat scroll 6px 18px;
}
.topHeadBlue {
	background: #f4fafc;
	border-top: 4px solid #5bcbf3;
	border-left: 1px solid #b2e5fb;
	border-right: 1px solid #b2e5fb;
}
.topHeadDrkBlue {
	background: #ebf5fc;
	border-top: 4px solid #609eca;
	border-left: 1px solid #b5d0e6;
	border-right: 1px solid #b5d0e6;
}
.topHeadDrkBlueShld {
	background: #f6fcfe;
	border-top: 4px solid #2897bf;
	border-left: 1px solid #45a3c5;
	border-right: 1px solid #45a3c5;
}
.topHeadDrkBlack {
	background: #f9f9f9;
	border-top: 4px solid #404040;
	border-left: 1px solid #777777;
	border-right: 1px solid #777777;
}
.tableInnerLftText {
	width: 100%;
	font-size:10px;
	float: left;
	background: #f4f7f8;
	color: #a4b1ba;
	padding: 5px 0 5px 15px;
}
.custCheck {
	color: #424950 !important;
	font-size: 12px;
	line-height: 19px;
	margin: 5px 0 0 8px !important;
}
.custCheck input[type="checkbox"] {
	margin: 0 4px 0 0 !important;
}
.tableInnerRtMain ul {
	display: none;
}


/*====================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================*/
 @media (min-width:100px) and (max-width:800px) {
.tableMainRow {
	width: 330%;
}
.middTopBtns .col-sm-4.pull-left {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
}
.middTopBtns .col-sm-4.pull-right {
	float: left;
	width: 100%;
}
.middTopBtns .col-sm-4.pull-right .pull-right.homeBlueBtn {
	float: left !important;
}
nav ul li {
	display: inline;
	float: left;
	font-size: 12px;
	padding: 10px 10px 0;
}
.customNav ul {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 10px 0 0 0;
}
}
 @media (min-width:100px) and (max-width:800px) {
/*#mCSB_2_container {
	width: 300% !important;
}*/
.tableInnerLft, .tableInnerRt {
	width: 100%;
}
}
 @media (min-width:801px) {
/*#mCSB_2_container {
	width: 300% !important;
}
.tableInnerRtMain2 #mCSB_2 #mCSB_2_container {
	width: 140% !important;
}*/
}
/*====================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================*/
/************ Version-2 Date: 04-11-2014 *************/
.mrgnTop65 {
	margin-top:65px;
	width:100%;
	float:left;
}
.mrgnTop60 {
	margin-top:60px;
}
.noMrgn {
	margin:0 !important;
}
.custmPad {
	padding: 0 10%;
	width:100%;
	float:left;
}
.grpTtl {
	width:100%;
	float: left;
	text-align:center;
}
.grpTtl h1 {
	color:#424950;
	font-size:22px;
	margin:45px 0 0 0;
	font-family: 'OpenSansRegular';
}
.grpTtl h2 {
	font-family: 'OpenSansRegular';
	color:#a4b1ba;
	font-size:16px;
	margin:6px 0 0 0;
}
.grpDesc {
	width:100%;
	float:left;
	font-family:"OpenSansRegular" !important;
	margin-top: 45px;
}
.grpDescTop {
	width:100%;
	float:left;
	padding-bottom: 40px;
	border-bottom: 2px solid #f5f5f5;
}
.grpDescMid {
	width:100%;
	float:left;
	padding-bottom: 40px;
	margin-top:40px;
	margin-bottom:15px;
	border-bottom:2px solid #f5f5f5;
}
.grpDescBtm {
	width:100%;
	float:left;
	padding:10px 0 100px 0;
	border-top:5px solid #f5f5f5;
}
.grpLft h3 {
	font-size:12px;
	color:#a4b1ba;
	text-transform:uppercase;
	font-weight: bold;
}
.grpRt h3 {
	color: #000;
	float: left;
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 16px;
	width: 100%
}
.members {
	float:left;
}
.memImg {
	width:46px;
	height:46px;
	float:left;
	margin-right:10px;
}
.addMembr {
	width:100%;
	float: left;
	margin:20px 0 0 0;
}
.addMembr .homeBlueBtn {
	background: none repeat scroll 0 0 #a4b1ba;
	border-radius: 4px;
	color: #fff;
	float: left;
	font-size: 14px;
	line-height: 28px;
	transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	padding: 0 0 0 15px;
}
.addMembr .homeBlueBtn:hover {
	opacity:0.7;
}
.addMembr .homeBlueBtnSpn {
	background: none repeat scroll 0 0 #939fa7;
	border-radius: 0 4px 4px 0;
	float: right;
	height: 30px;
	line-height: 28px;
	margin: 0 0 0 20px;
	text-align: center;
	width: 35px;
}
.addMembr a .homeBlueBtn {
	font-size:11px;
}
.memDesc h4 {
	font-size:12px;
	color:#a4b1ba;
	font-family: 'OpenSansSemibold';
}
.memDesc h3 {
	font-size:14px;
	margin:5px 0 0;
	float:none;
}
.mbrForm {
	width:100%;
	float:left;
}
.mbrForm h3 {
	width:100%;
	float:left;
	margin:0 0 10px 0;
}
.inputRow {
	width:100%;
	float:left;
	margin-bottom:30px;
}
.grpRt .form-control:focus {
	border:2px solid #2879b8;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	background:none;
}
.grpRt .form-control {
	width: 60%;
	border:1px solid #d9e0e3;
	background-color: #f5f8f9;
	border-radius:3px;
	font-size:13px;
	font-family: 'OpenSansSemibold';
	box-shadow:none;
}
.grpRt .form-control::-webkit-input-placeholder {
 color: #a4b1ba;
}
.grpRt .form-control::-moz-placeholder { /* Firefox 19+ */
 color: #a4b1ba;
 font-size:11px;
}
.grpRt .form-control:-ms-input-placeholder {
 color: #a4b1ba;
 font-size:11px;
}
.grpRt .form-control:-moz-placeholder { /* Firefox 18- */
 color: #a4b1ba;
 font-size:11px;
}
.inputRow .address {
	width: 70%;
	margin: 0 10px 10px 0;
}
.inputRow .city {
	width: 32%;
	float:left;
	margin: 0 10px 10px 0;
}
.inputRow .state {
	width: 25%;
	float:left;
	margin: 0 10px 10px 0;
}
.inputRow .zip {
	width: 45%;
	margin: 0 10px 10px 0;
}
/**************RFP Process Part 1 Style Start******************/
.rfpNav ul {
	margin:o;
}
.rfpNav ul li {
	display: inline-block;
	padding:15px 0;
	margin:0 15px 0 0;
	font-size:14px;
}
.rfpNav ul li a {
	padding:0 8px;
	color:#a4b1ba;
}
.rfpNav ul li span {
	width:30px;
	height:30px;
	border-radius:50%;
	background:#d4d9dc;
	color:#fff;
	display:inline-block;
	line-height: 28px;
	text-align: center;
}
.rfpNav ul li.active a, .rfpNav ul li:hover a {
	color:#23272d;
	text-decoration:none;
}
.rfpNav ul li.active span, .rfpNav ul li:hover span {
	background:#26bbf0;
}
.rfpInfo {
	width:100%;
	float:left;
}
.rfpInfo .inputRow {
	margin:14px 0;
}
.rfpInfo .inputRow label {
	margin:0 0 0 20px;
	font-size:11px;
	color:#a4b1ba;
}
.rfpInfo .inputRow input[type="radio"]:focus label {
	color:#424950;
}
.nmbrOfDys {
	width:100%;
	float:left;
	margin:20px 0 0 0;
	padding:0 0 0 33px;
}
.nmbrOfDys button {
	padding:10px 18px 10px 18px;
	background-color: #f5f8f9;
	border-color: #d9e0e3;
	color: #a4b1ba;
	font-size: 12px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.nmbrOfDys button:hover, .nmbrOfDys button:active {
	background: none repeat scroll 0 0 #2879b8;
	border: 1px solid #125f9a;
	color: #fff;
	text-decoration: none
}
.rfpInfo .bdr {
	width:60%;
	text-align:center;
	height:2px;
	background:#f5f5f5;
	float:left;
	margin:0 0 0 5%;
}
.howPaid {
	width:100%;
	float:left;
}
.howPaid ul {
	padding:0 0 27px 0;
	border-bottom:1px solid #f5f5f5;
	float:left;
}
.howPaid ul li {
	list-style:none;
	float:left;
}
.howPaid ul li a {
	font-size:22px;
	display:block;
	background:#f5f8f9;
	color:#a4b1ba;
	width:120px;
	height:120px;
	text-align:center;
	line-height: 120px;
	border:1px solid #dfe5e7;
	border-radius:3px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.howPaid ul li a:hover, .howPaid ul li a.active {
	background:#2879b8;
	text-decoration: none;
	color:#fff;
	border: 1px solid #125f9a;
}
.whatPrcnt {
	width:100%;
	float:left;
	line-height:30px;
}
.whatPrcnt input[type="text"] {
	width:100px;
	float:left;
	text-align:right;
	margin-right:10px;
}
.whatPrcnt input[type="text"] {
	width:150px;
	float:left;
	text-align:right;
}
.whatPrcntInpt::-webkit-input-placeholder {
 color: #a4b1ba;
 text-align:right;
}
.whatPrcntInpt::-moz-placeholder { /* Firefox 19+ */
 color: #a4b1ba;
 font-size:11px;
 text-align:right;
}
.whatPrcntInpt:-ms-input-placeholder {
 color: #a4b1ba;
 text-align:right;
 font-size:11px;
}
.whatPrcntInpt:-moz-placeholder { /* Firefox 18- */
 color: #a4b1ba;
 text-align:right;
 font-size:11px;
}
.grpDescMid2 {
	width:100%;
	float: left;
	padding:20px 0;
}
.crWith {
	width:100%;
	float:left;
}
.optional {
	width:100%;
	float:left;
	margin:10px 0;
}
.optional p {
	font-size:11px;
	font-style:italic;
	color:#a4b1ba;
	text-align:center;
}
.optional p span {
	color:#f5f5f5;
	float:left;
}
.crInfo {
	width:100%;
	float:left;
	line-height:13px;
}
.crInfo span {
	width:30%;
	float:left;
}
.crInfo span label {
	padding-left:0px;
}
.btnBack {
	padding:8px 45px;
	font-size:13px;
	float:left;
}
.crWith .slctCar {
	width:250px !important;
	text-align:left;
}
.slctCarTog {
	float: left;
	background: #d9e0e3;
	box-shadow:none !important;
	width:40px;
	border:1px solid #e4eaec;
}
.slctCarTog:hover, .slctCarTog:focus {
	background: #2879b8;
	border:1px solid #125f9a;
}
.slctCarTog.btn .caret {
	margin-left:5px !important;
	color:#fff;
}
.crWith .btn-group.open .dropdown-toggle {
	box-shadow:none;
	display:inline;
}
.dropdown-menu.dropMenu {
	width:75% !important;
	min-width:inherit;/*	top:10%;*/
}
.slctCar.btn-group.open .dropdown-toggle {
	background: #e4f0f9;
}
/**************RFP Process Part 1 Style end******************/


/**************RFP Process Part 2 Style Start******************/

.rtgTiers li a {
	border:1px solid #d9e0e3;
	background: #f5f8f9;
	color:#a4b1ba;
	font-size:21px;
	padding: 5px 0;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
}
.rtgTiers li a:hover, .rtgTiers li.active a {
	background: #2879b8;
	color:#fff;
}
.rfpInfo .btn-group .rtgTiers.active, .rfpInfo .btn-group .rtgTiers:hover {
	background: #2879b8 !important;
	color:#fff;
	border:1px solid #125f9a;
}
.rfpInfo .btn-group .rtgTiers {
	border:1px solid #d9e0e3;
	background: #f5f8f9;
	color:#a4b1ba;
	font-size:21px;
	padding: 5px 50px;
	border-radius:4px !important;
}
.rfpInfo .btn-group .rtgTiers.active, .rfpInfo .btn-group .rtgTiers:focus, .rfpInfo .btn-group .rtgTiers:active {
	box-shadow:none;
}
.medOptn {
	width:100%;
	float:left;
}
.medOptn .plus {
	background:#f5f8f9;
	color:#a4b1ba;
	padding:10px;
	float:left;
	height:50px;
	width:50px;
	border:1px solid #d9e0e3;
	border-radius:4px !important;
}
.medOptn .plus:hover, .medOptn .minus:hover {
	background:#2879b8;
	color:#fff;
}
.medOptn .minus {
	background:#f5f8f9;
	color:#a4b1ba;
	padding:10px;
	float:left;
	height:50px;
	width:50px;
	border:1px solid #d9e0e3;
	border-radius:4px !important;
}
.medOptn .input-number {
	background:#2879b8;
	color:#fff;
	padding:10px;
	float:left;
	height:100px;
	border:1px solid #125f9a;
	width:100px;
	border-radius:4px !important;
	text-align:center;
	font-size:30px;
	margin:0 15px;
	-moz-appearance: textfield;
	appearance: textfield;
	-webkit-appearance: textfield;
	-ms-appearance: textfield;
}
.medOptn .input-number:focus {
	background:#2879b8;
	color:#fff;
}
.medOptn .input-group-btn {
	width: auto;
}
.whatPrcnt .slctCar {
	width:140px;
	text-align:left;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background: #26bbf0;
	color:#fff;
}
.dropdown-menu > li > a {
	color: #424950;
	font-size: 11px;
	font-weight: normal;
	line-height: 22px;
}
.btn-group.open {
	border:2px solid #2c77b2;
	border-radius:5px;
	margin: -2px;
}
.btn-group.open .slctCar {
	background: #e2eef7;
}
/**************RFP Process Part 2 Style end******************/
.grpLft h4 {
	color: #2879b8;
	text-transform: uppercase;
	font-size:12px;
	font-weight:bold;
}
.grpLft h5 {
	color: #a4b1ba;
	font-size:12px;
	font-style:italic;
	text-transform: uppercase;
}
.grpRt h4 {
	color:#a4b1ba;
	text-transform: uppercase;
	font-size:11px;
	font-weight:bold;
}
.grpRt h5 {
	color: #a4b1ba;
	font-size:10px;
	font-style:italic;
	text-transform: uppercase;
}
.tiersCnt {
	width:80% !important;
	font-size:16px !important;
}
.grpRt .tiersCnt::-webkit-input-placeholder {
 font-size:16px;
}
.grpRt .tiersCnt::-moz-placeholder { /* Firefox 19+ */
 font-size:16px;
}
.grpRt .tiersCnt:-ms-input-placeholder {
 font-size:16px;
}
.grpRt .tiersCnt:-moz-placeholder { /* Firefox 18- */
 color: #a4b1ba;
 font-size:16px;
}
.grpRt h6 span {
	padding:0 10px 0 0px;
	color:#a4b1ba;
}
.grpRt h6 {
	font-size:11px;
	color:#424950;
	font-weight:normal;
}
.yesNo label {
	font-weight:normal;
	font-size:11px;
	color:#424950;
}
.grpDescMid3 {
	width:100%;
	float:left;
	padding:0 0 10px 0;
}
.grpDescMid3 h4 {
	margin:0;
}
.topMargin43 {
	margin:43px 0 0 0 !important;
}
.optional p {
	font-style:normal;
	width:100%;
	float:left;
}
.spantxt {
	color: #a4b1ba !important;
	float: left;
	font-style: italic;
	letter-spacing: 2px;
	position: relative;
	text-transform: capitalize;
	top: 5px;
}
/***************rfp part 4 Code Start *****************/
.rfp4 .slctCar {
	width:100px;
	text-align:left;
}
.grpRt textarea.form-control {
	resize:none;
}
.crInfo2 {
	width: 100%;
	float:left;
	line-height:13px;
}
.crInfo2 span {
	width:10%;
	float:left;
}
.crInfo2 span label {
	padding-left:0px;
}
/***************rfp part 4 Code Ends *****************/

@media (min-width:100px) and (max-width:480px) {
.col-resposive {
	width:100%;
	float:left;
}
.rfpInfo .btn-group .rtgTiers {
	padding:5px 45px 5px 45px;
}
.mt10 {
	margin-top:10px;
}
.custmPad {
	padding:0 2% 0 2%;
}
.btnBack {
	float:left;
	padding:7px 23px 7px 23px;
}
.homeBlueBtn {
	padding:0px 0 0px 9px;
}
.homeBlueBtnSpn {
	margin:0 0 0 5px;
	width:30px;
}
.grpDescBtm div a {
	float:left;
}
.tiersCnt {
	width:100%;
	font-size:14px;
}
.form-control {
	padding:5px;
}
.optional p span {
	width:100%;
	float:left;
}
.rfpInfo .btn-group .rtgTiers {
	padding:5px 38px;
}
/******************Sushil Work Starts Here***************/
.grpDesc {
	margin-top:20px;
}
.grpDescMid {
	margin-top:20px;
}
.grpTtl h1 {
	margin-top:25px;
}
.grpTtl h2 {
	font-size:15px;
}
.grpRt h3 {
	font-size:12px;
	line-height:18px;
	margin:5px 0;
}
.rfpInfo .inputRow input[type="radio"] {
	float:left;
	margin-right:5px;
}
.rfpInfo .inputRow label {
	margin:0;
	width: 90%;
	font-size:10px;
}
.rfpInfo .bdr {
	margin:0;
	width:100%;
}
.grpDescTop {
	padding-bottom:20px;
}
.howPaid ul li a {
	width:70px;
	height:70px;
	font-size:12px;
	line-height:70px;
}
.crWith .slctCar {
	width: 170px !important;
}
.grpDescBtm {
	padding:10px 0 40px;
}
.mrgnTop60 {
	margin-top:20px;
}
.spantxt {
	margin:10px 0 0 0;
	line-height:0px;
}
.grpRt textarea.form-control {
	width:100%;
}
.crInfo2 span {
	width:30%;
	float:left;
}
.members {
	text-align:center;
	padding-top:10px;
}
.memImg {
	text-align:center;
	width:100%;
	float:left;
}
.memDesc h3 {
	width:100%;
	float:left;
	text-align:center;
}
.memDesc h4 {
	width:100%;
	float:left;
	text-align:center;
}
.grpRt .mbrForm .form-control {
	width:100%;
}
}
 @media (min-width:481px) and (max-width:767px) {
.custmPad {
	padding:0 2% 0 2%;
}
.col-resposive {
	width:25%;
	float:left;
	padding:0 5px 0 5px !important;
}
.input-group {
	width:38%;
	margin:auto;
}
.rfpInfo .btn-group .rtgTiers {
	padding:5px 30px 5px 30px;
}
.grpLft1 {
	float:left;
	width:30%;
}
.grpRt2 {
	float:left;
	width:70%;
}
.grpLft h3 {
	text-align:left;
}
/*.grpDescTop div {
	float:left;
	text-align:left !important;
}
*/
.optional p {
	text-align:center;
	width:100%;
	float:left;
}
.optional p .line1 {
	float:left;
	width:40%;
}
.optional p .spantxt {
	float:left;
	width:10%;
	color:#a4b1ba !important;
}
.optional p .line2 {
	float:right;
	width:40%;
}
.mt10 {
	margin-top:10px;
}
.homeBlueBtn {
	padding:0px 0 0px 35px;
}
.btnBack {
	padding:10px 40px 10px 40px;
}
.homeBlueBtnSpn {
	margin:0 0 0 18px;
}
.tiersCnt {
	width:100%;
	font-size:14px;
}
.form-control {
	padding:5px;
}
.grpRt h5 {
	min-height:30px;
}
.rfpInfo .btn-group .rtgTiers {
	padding:5px 24px 5px 24px;
}
.input-group {
	margin:0 !important;
}
}
@media (min-width:768px) and (max-width:1024px) {
.rfpInfo .btn-group .rtgTiers {
	padding:5px 35px 5px 35px;
}
.homeBlueBtn {
	padding:0 0 0 16px;
}
.custmPad {
	width:100%;
	float:left;
	padding:0 2% 0 2%;
}
.topMargin43 {
	margin-top:67px !important;
}
.homeBlueBtnSpn {
	margin:0 0 0 18px;
}
.grpRt h5 {
	min-height:30px;
}
.crInfo span {
	width:50%;
}
.col-resposive {
	width:25%;
	float:left;
	padding:0 5px 0 5px !important;
}
.crInfo2 span {
	width: 20%;
}
}
